footer{
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

footer p{
    margin: 0;
    line-height: 25px;
}

.dog-logo{
    width: 30px;
}

.error-msg{
    color: red;
    font-weight: bold;
}