footer {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

footer p {
    margin: 0;
    line-height: 25px;
}

.dog-logo {
    width: 30px;
}

.error-msg {
    color: red;
    font-weight: bold;
}

.dog-card a.dog-name {
    text-decoration: none;
    color: black;
}

.dog-card-show {
    width: 98%;
    margin: 0 auto;
    margin-top: -15px;
}

.card-please-login {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    border-left: 5px solid gray;
    margin-bottom: 10px;
}

.add-to-favorites:hover {
    cursor: pointer;
}

.add-to-favorites:hover i {
    color: red;
}

.mojaslika {
    transition: transform .3s;
}

.mojaslika:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.image-container {
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
}